_/Chapter07/OLD/Chapter7Project/ExceptionHandlingApps/ReusableCaller/ReusableCaller.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ReusableCaller" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ReusableCaller"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ReusableCaller">
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProcessIN" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProcessOut" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endProcessGHResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PRocessEndGH" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:message name="endProcessGHResponse">
        <wsdl:part name="parameters" element="tns:endProcessGHResponse"/>
    </wsdl:message>
    <wsdl:portType name="ReusableCallerPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
        <wsdl:operation name="endProcessGH">
            <wsdl:input message="tns:endProcessGHResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ReusableCallerPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="ReusableCallerPortTypePartnerLinkType">
        <plnk:role name="ReusableCallerPortTypeProvider">
            <plnk:portType name="tns:ReusableCallerPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
