_/Chapter07/OLD/Chapter7Project/ExceptionHandlingApps/ReusableCaller/businessCatalog/Error/Timer_E_BusinessException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="Error.Timer_E_BusinessException" modifiers="262144"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Error/Timer_E_BusinessException" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Error/Timer_E_BusinessException"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="Timer_E_BusinessExceptionType">
        <xs:sequence>
            <xs:element name="errorInfo" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Timer_E_BusinessException" type="Timer_E_BusinessExceptionType"/>
</xs:schema>
